body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #ff9a9e, #fecfef, #f6d1f5);
}

.container {
  text-align: center;
  background: white;
  padding: 40px;
  border-radius: 25px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}

h1 {
  color: #ff5f9e;
  font-size: 40px;
}

.btn-box {
  margin-top: 20px;
}

button {
  padding: 12px 25px;
  margin: 10px;
  font-size: 20px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s;
}

#yesBtn {
  background: #ff89c6;
  color: white;
}

#noBtn {
  background: #ffd1d9;
  color: black;
  position: absolute;
}

button:hover {
  transform: scale(1.1);
}