body {
    font-family: 'Prompt', sans-serif;
    background: linear-gradient(#ff9a9e, #fad0c4);
    text-align: center;
    padding-top: 150px;
}

.container {
    background: white;
    padding: 30px;
    border-radius: 20px;
    width: 400px;
    margin: auto;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

h1, h2, p {
    color: #333;
}

.btn {
    padding: 12px 20px;
    border: none;
    font-size: 18px;
    cursor: pointer;
    border-radius: 10px;
    margin: 5px;
    transition: 0.3s;
}

.btn:hover {
    transform: scale(1.1);
    background: #ff4d6d;
    color: white;
}

.yes-btn {
    background: #ff4d6d;
    color: white;
}

/* ปุ่ม No ขยับหนี */
.no-btn {
    position: absolute;
}